


   <div class="container">
    <h2>User Profile data</h2>
    <table class="table table-dark table-hover" *ngIf="!addUser">
      <thead>
        <tr>
          <th>user Name</th>
          <th>Email</th>
          <th>phone number</th>
          <th>about me</th>
          <th>ID</th>
          <th>Delete User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userProfile">
           <td>{{user.userName}}</td>  
           <td>{{user.email}}</td>  
           <td>{{user.phoneno}}</td>  
           <td>{{user.aboutme}}</td>  
           <td>{{user._id}}</td>  
           <td class="text-danger" (click)="deleteUser(user._id)">X</td>  
        </tr>
      </tbody>
    </table>
  
  <button (click)="addusers()" class="btn btn-info" *ngIf="!addUser">ADD USER</button>


<form *ngIf="addUser" #f="ngForm" (ngSubmit)="submitData(f)">
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="user" ngModel>
      </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email" ngModel>
  </div>
  
   <div class="form-group">
      <label for="phone">Phone No#</label>
      <input type="text" class="form-control" id="phone" name="phone" ngModel>
    </div>
    <div class="form-group">
        <label for="aboutme">About me </label>
        <textarea  class="form-control" id="aboutme" name="aboutme" ngModel></textarea>
      </div>
      
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



<!-- <div *ngIf="!userProfile" class="spinner-border text-info"></div> -->


<!-- 12/2=6  12/3  =4  12/6 -->
<!-- <div class="row">
    <div *ngFor="let user of userProfile;let ind=index" [ngClass]="ind%2===0?'bg-info':'bg-danger'" class=" border bg-info card col-sm-2 m-3 p-3">
       {{ind}}  
      <img class="card-img-top" [src]="user.picture.large" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{user.name.title}} {{user.name.first}} {{user.name.last}}</h4>
          <p class="card-text">{{user.location.city}}</p>
          <a (click)="getUserProfile(ind)" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div> -->

<!-- 12/3= 4-->

<!-- <div class="row">
   <div class="col-sm-3 col-md-2 bg-info">This is first column </div>
   <div class="col-sm-3 col-md-2 bg-danger"> This is 2nd column</div>
   <div class="col-sm-3 col-md-2 bg-success">This is 3rd column </div>
   <div class="col-sm-3 col-md-2bg-primary">This is 4th column </div>   
</div> -->


